{% extends 'music/Base.html' %}

{% block title %}{{ hero }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">
    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="#">View All</a></li>
                <li role="presentation"><a href="{% url 'music:hero-add' %}">Add New Hero</a></li>
            </ul>

    <!-- Heroes-->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Heroes</h3>
        </div>
        {% if all_heroes %}
            {% for hero in all_heroes %}
                <div class="container-fluid">
                    <a href="{% url 'music:index-h' hero.id %}">

                    <h2>{{ hero.hero_name }}</h2>
                    </a>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}

        {% else %}
            <h3>You dont have any heroes to display here</h3>
{% endif %}
{% endblock %}