body{
    background: red url("images/background.jpg");
    
}
   #ww{

background-color: lavenderblush;
margin-top :2%;
width:20%;

}
#ww:hover{
    background-color: blue;
}
#heads{
    background-color: orangered;
    margin-left: 1px;
    
    text-emphasis: none;

}
#heads:hover{
    background-color:yellow;
}
#ab{
    text-decoration: none;
    text-decoration-style: initial;
}

.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Satisfy',cursive;
}
